.contact{
    // float: left;
    // width: 100%;
    // position: relative;
    // z-index: 1;

}

.contact-wrap{
	margin:0 auto;
    display:inline-block;
    text-align: center;
    width:100%;
}

.contact-container{
	margin: 0 auto;
	width: 80%;
}


.contact #map {
    display: block;
    width: 100%;
    height: 100%;
}

.contact #map {
    background: #fff;
    width:100%;
    height: 100%;
}
.contact .form-control{
    border-radius: 0;
}
.contact #map{
    height: 350px;
}

